<div class="context">
  <h1>虫之年代 - 镜喵小姐姐的D&D团</h1>
  <hr>
  <div style="margin-left:20px;">
    <strong>Base Info:</strong>
    <div class="base-info">
      规则：D&D 3R<br>
      模组：虫之年代<br>
      人数：6<br>
      DM：镜喵小姐姐<br>
      PC:<br>
      <div style="margin-left:20px;">
        史塔克&nbsp;&nbsp;鹿角兔&nbsp;&nbsp;风语时<br>
        王蛇&nbsp;&nbsp;&nbsp;竹子君&nbsp;&nbsp;吕小斩<br>
        <samp style="font-style: italic">p.s.排名部分先后。。。ORZ我凭记忆打的。</samp>
      </div>
      跑团方式：网团-QQ<br>
      跑团地点：584166837<br>
    </div>
    <strong>D&D Log & Player:</strong>
    <div class="base-info">
      <p><%= link_to 'D&D Log', dnd_logs_path %></p>
      <p><%= link_to 'Player', players_path %></p>
    </div>
  </div>

</div>