// Place all the styles related to the dnd_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  border-style:solid;
  border-width:1px;
}

.submit {
  line-height: 260%;
  width:120px;
}

footer {
  text-align:center;
}