// Place all the styles related to the dnd_info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.context {
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  line-height: 30px;
}

.base-info {
  padding: 10px;
  margin-left:20px;
}