// Place all the styles related to the dnd_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  border-style:solid;
  border-width:1px;
}

.submit {
  line-height: 260%;
  width:120px;
}

.log-list-box {
  padding: 5px;
  border:1px solid;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}

.log-list {
  margin: 20px;
}

footer {
  text-align:center;
}