// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #ecebe8;
}

.context {
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}